@model IEnumerable<Packt.Shared.Customer>
<h2>@ViewData["Title"]</h2>
<div class="row">
    <a class="btn btn-primary" href="addcustomer">
      Create New Customer
    </a>
</div>
<table>
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Contact Name</th>
            <th>Address</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    <a href="customerdetail/@item.CustomerID">@Html.DisplayFor(modelItem => item.ContactName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                    @Html.DisplayFor(modelItem => item.City)
                    @Html.DisplayFor(modelItem => item.Region)
                    @Html.DisplayFor(modelItem => item.Country)
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
            </tr>
        }
    </tbody>
</table>